<!Doctype HTML>
<html>
	<head>
		<title>Kitchen | Tiger Orders</title>
		<meta charset="utf-8">
		
		<!-- BootStrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	
		<style type="text/css">
			html, body {
				height: 100%;
				padding: 0;
				margin:0;
				overflow: hidden;
			}
			
			.half-row {
				position: relative;
				width:100%;
				height:50%;
			}
			
			.order-block {
				float:left;
				height:100%;
				width:33.3333%;
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 10px;
				padding-bottom: 10px;
				border: 2px solid black;
				overflow:auto;
				word-wrap: break-word;
			}
			
			.order-block > h1 {
				text-align:center;
				text-decoration: underline;
			}
			
			.bottom-right {
				position:absolute;
				float: right;
				width: 33.3333%;
				height: 50px;
				bottom:0;
			}

			.top-right {
				position:absolute;
				float: right;
				width: 6%;
				height: 99%;
				bottom:0;
			}
			
			.orders {
				font-size: 1.75em;
				margin-bottom:65px;
			}
			
			.btn {
				margin-left: calc(100% - 200px);
			}

			.top-right .btn {
				margin-left: calc(100% - 20px);
			}
		</style>
	</head>
	
	<body>
	
		<div id="top-row" class="half-row">
			<div id="top-1" class="order-block">
				{% if ticket1 %}
					<h1>{{ ticket1.customer_name }}</h1>

					<ul class="orders">
						{# DISPLAY MEALS #}
						{% for ticketID, ticketMeals in meals.items %}
							{% if ticketID == ticket1.id %}
								{% for meal in ticketMeals %}
									<li>{{ meal.meal.name }} [{{ meal.size }}]</li>

									<ul>
									{% for addTicketID, ticketMealAdditions in mealAdditions.items %}
										{% if addTicketID == ticket1.id %}
											{% for mealID, thisMealAdditions in ticketMealAdditions.items %}
												{% if mealID == meal.id %}
													{% for addition in thisMealAdditions %}
														<li>ADD {{ addition.add.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

									<ul>
									{% for subTicketID, ticketMealSubtractions in mealSubtractions.items %}
										{% if subTicketID == ticket1.id %}
											{% for mealID, thisMealSubtractions in ticketMealSubtractions.items %}
												{% if mealID == meal.id %}
													{% for subtraction in thisMealSubtractions %}
														<li>REMOVE {{ subtraction.sub.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

								{% endfor %}
							{% endif %}
						{% endfor %}

						{# DISPLAY SIDES #}
						{% for ticketID, ticketSides in sides.items %}
							{% if ticketID == ticket1.id %}
								{% for side in ticketSides %}
									<li>{{ side.side.name }}</li>

									<ul>
									{% for addTicketID, ticketSideAdditions in sideAdditions.items %}
										{% if addTicketID == ticket1.id %}
											{% for sideID, thisSideAdditions in ticketSideAdditions.items %}
												{% if sideID == side.id %}
													{% for addition in thisSideAdditions %}
														<li>ADD {{ addition.add.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

									<ul>
									{% for subTicketID, ticketSideSubtractions in sideSubtractions.items %}
										{% if subTicketID == ticket1.id %}
											{% for sideID, thisSideSubtractions in ticketSideSubtractions.items %}
												{% if sideID == side.id %}
													{% for subtraction in thisSideSubtractions %}
														<li>REMOVE {{ subtraction.sub.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

								{% endfor %}
							{% endif %}
						{% endfor %}
					</ul>

					<div class="bottom-right">
						<a class="btn btn-success text-right" href="{% url 'tickets:fulfill_ticket' ticket1.id %}">Complete Order</a>
					</div>
				{% endif %}
			</div>
			<div id="top-2" class="order-block">
				{% if ticket2 %}
					<h1>{{ ticket2.customer_name }}</h1>

					<ul class="orders">
						{# DISPLAY MEALS #}
						{% for ticketID, ticketMeals in meals.items %}
							{% if ticketID == ticket2.id %}
								{% for meal in ticketMeals %}
									<li>{{ meal.meal.name }} [{{ meal.size }}]</li>

									<ul>
									{% for addTicketID, ticketMealAdditions in mealAdditions.items %}
										{% if addTicketID == ticket2.id %}
											{% for mealID, thisMealAdditions in ticketMealAdditions.items %}
												{% if mealID == meal.id %}
													{% for addition in thisMealAdditions %}
														<li>ADD {{ addition.add.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

									<ul>
									{% for subTicketID, ticketMealSubtractions in mealSubtractions.items %}
										{% if subTicketID == ticket2.id %}
											{% for mealID, thisMealSubtractions in ticketMealSubtractions.items %}
												{% if mealID == meal.id %}
													{% for subtraction in thisMealSubtractions %}
														<li>REMOVE {{ subtraction.sub.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

								{% endfor %}
							{% endif %}
						{% endfor %}

						{# DISPLAY SIDES #}
						{% for ticketID, ticketSides in sides.items %}
							{% if ticketID == ticket2.id %}
								{% for side in ticketSides %}
									<li>{{ side.side.name }}</li>

									<ul>
									{% for addTicketID, ticketSideAdditions in sideAdditions.items %}
										{% if addTicketID == ticket2.id %}
											{% for sideID, thisSideAdditions in ticketSideAdditions.items %}
												{% if sideID == side.id %}
													{% for addition in thisSideAdditions %}
														<li>ADD {{ addition.add.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

									<ul>
									{% for subTicketID, ticketSideSubtractions in sideSubtractions.items %}
										{% if subTicketID == ticket2.id %}
											{% for sideID, thisSideSubtractions in ticketSideSubtractions.items %}
												{% if sideID == side.id %}
													{% for subtraction in thisSideSubtractions %}
														<li>REMOVE {{ subtraction.sub.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

								{% endfor %}
							{% endif %}
						{% endfor %}
					</ul>

					<div class="bottom-right">
						<a class="btn btn-success text-right" href="{% url 'tickets:fulfill_ticket' ticket2.id %}">Complete Order</a>
					</div>
				{% endif %}
			</div>
			<div id="top-3" class="order-block">
				{% if ticket3 %}
					<h1>{{ ticket3.customer_name }}</h1>

					<ul class="orders">
						{# DISPLAY MEALS #}
						{% for ticketID, ticketMeals in meals.items %}
							{% if ticketID == ticket3.id %}
								{% for meal in ticketMeals %}
									<li>{{ meal.meal.name }} [{{ meal.size }}]</li>

									<ul>
									{% for addTicketID, ticketMealAdditions in mealAdditions.items %}
										{% if addTicketID == ticket3.id %}
											{% for mealID, thisMealAdditions in ticketMealAdditions.items %}
												{% if mealID == meal.id %}
													{% for addition in thisMealAdditions %}
														<li>ADD {{ addition.add.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

									<ul>
									{% for subTicketID, ticketMealSubtractions in mealSubtractions.items %}
										{% if subTicketID == ticket3.id %}
											{% for mealID, thisMealSubtractions in ticketMealSubtractions.items %}
												{% if mealID == meal.id %}
													{% for subtraction in thisMealSubtractions %}
														<li>REMOVE {{ subtraction.sub.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

								{% endfor %}
							{% endif %}
						{% endfor %}

						{# DISPLAY SIDES #}
						{% for ticketID, ticketSides in sides.items %}
							{% if ticketID == ticket3.id %}
								{% for side in ticketSides %}
									<li>{{ side.side.name }}</li>

									<ul>
									{% for addTicketID, ticketSideAdditions in sideAdditions.items %}
										{% if addTicketID == ticket3.id %}
											{% for sideID, thisSideAdditions in ticketSideAdditions.items %}
												{% if sideID == side.id %}
													{% for addition in thisSideAdditions %}
														<li>ADD {{ addition.add.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

									<ul>
									{% for subTicketID, ticketSideSubtractions in sideSubtractions.items %}
										{% if subTicketID == ticket3.id %}
											{% for sideID, thisSideSubtractions in ticketSideSubtractions.items %}
												{% if sideID == side.id %}
													{% for subtraction in thisSideSubtractions %}
														<li>REMOVE {{ subtraction.sub.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

								{% endfor %}
							{% endif %}
						{% endfor %}
					</ul>

					<div class="bottom-right">
						<a class="btn btn-success text-right" href="{% url 'tickets:fulfill_ticket' ticket3.id %}">Complete Order</a>
					</div>
				{% endif %}
			</div>
		</div>
		
		<div id="bottom-row" class="half-row">
			<div id="bottom-1" class="order-block">
				{% if ticket4 %}
					<h1>{{ ticket4.customer_name }}</h1>

					<ul class="orders">
						{# DISPLAY MEALS #}
						{% for ticketID, ticketMeals in meals.items %}
							{% if ticketID == ticket4.id %}
								{% for meal in ticketMeals %}
									<li>{{ meal.meal.name }} [{{ meal.size }}]</li>

									<ul>
									{% for addTicketID, ticketMealAdditions in mealAdditions.items %}
										{% if addTicketID == ticket4.id %}
											{% for mealID, thisMealAdditions in ticketMealAdditions.items %}
												{% if mealID == meal.id %}
													{% for addition in thisMealAdditions %}
														<li>ADD {{ addition.add.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

									<ul>
									{% for subTicketID, ticketMealSubtractions in mealSubtractions.items %}
										{% if subTicketID == ticket4.id %}
											{% for mealID, thisMealSubtractions in ticketMealSubtractions.items %}
												{% if mealID == meal.id %}
													{% for subtraction in thisMealSubtractions %}
														<li>REMOVE {{ subtraction.sub.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

								{% endfor %}
							{% endif %}
						{% endfor %}

						{# DISPLAY SIDES #}
						{% for ticketID, ticketSides in sides.items %}
							{% if ticketID == ticket4.id %}
								{% for side in ticketSides %}
									<li>{{ side.side.name }}</li>

									<ul>
									{% for addTicketID, ticketSideAdditions in sideAdditions.items %}
										{% if addTicketID == ticket4.id %}
											{% for sideID, thisSideAdditions in ticketSideAdditions.items %}
												{% if sideID == side.id %}
													{% for addition in thisSideAdditions %}
														<li>ADD {{ addition.add.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

									<ul>
									{% for subTicketID, ticketSideSubtractions in sideSubtractions.items %}
										{% if subTicketID == ticket4.id %}
											{% for sideID, thisSideSubtractions in ticketSideSubtractions.items %}
												{% if sideID == side.id %}
													{% for subtraction in thisSideSubtractions %}
														<li>REMOVE {{ subtraction.sub.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

								{% endfor %}
							{% endif %}
						{% endfor %}
					</ul>

					<div class="bottom-right">
						<a class="btn btn-success text-right" href="{% url 'tickets:fulfill_ticket' ticket4.id %}">Complete Order</a>
					</div>
				{% endif %}
			</div>
			<div id="bottom-2" class="order-block">
				{% if ticket5 %}
					<h1>{{ ticket5.customer_name }}</h1>

					<ul class="orders">
						{# DISPLAY MEALS #}
						{% for ticketID, ticketMeals in meals.items %}
							{% if ticketID == ticket5.id %}
								{% for meal in ticketMeals %}
									<li>{{ meal.meal.name }} [{{ meal.size }}]</li>

									<ul>
									{% for addTicketID, ticketMealAdditions in mealAdditions.items %}
										{% if addTicketID == ticket5.id %}
											{% for mealID, thisMealAdditions in ticketMealAdditions.items %}
												{% if mealID == meal.id %}
													{% for addition in thisMealAdditions %}
														<li>ADD {{ addition.add.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

									<ul>
									{% for subTicketID, ticketMealSubtractions in mealSubtractions.items %}
										{% if subTicketID == ticket5.id %}
											{% for mealID, thisMealSubtractions in ticketMealSubtractions.items %}
												{% if mealID == meal.id %}
													{% for subtraction in thisMealSubtractions %}
														<li>REMOVE {{ subtraction.sub.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

								{% endfor %}
							{% endif %}
						{% endfor %}

						{# DISPLAY SIDES #}
						{% for ticketID, ticketSides in sides.items %}
							{% if ticketID == ticket5.id %}
								{% for side in ticketSides %}
									<li>{{ side.side.name }}</li>

									<ul>
									{% for addTicketID, ticketSideAdditions in sideAdditions.items %}
										{% if addTicketID == ticket5.id %}
											{% for sideID, thisSideAdditions in ticketSideAdditions.items %}
												{% if sideID == side.id %}
													{% for addition in thisSideAdditions %}
														<li>ADD {{ addition.add.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

									<ul>
									{% for subTicketID, ticketSideSubtractions in sideSubtractions.items %}
										{% if subTicketID == ticket5.id %}
											{% for sideID, thisSideSubtractions in ticketSideSubtractions.items %}
												{% if sideID == side.id %}
													{% for subtraction in thisSideSubtractions %}
														<li>REMOVE {{ subtraction.sub.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

								{% endfor %}
							{% endif %}
						{% endfor %}
					</ul>

					<div class="bottom-right">
						<a class="btn btn-success text-right" href="{% url 'tickets:fulfill_ticket' ticket5.id %}">Complete Order</a>
					</div>
				{% endif %}
			</div>
			<div id="bottom-3" class="order-block">
				{% if ticket6 %}
					<h1>{{ ticket6.customer_name }}</h1>

					<ul class="orders">
						{# DISPLAY MEALS #}
						{% for ticketID, ticketMeals in meals.items %}
							{% if ticketID == ticket6.id %}
								{% for meal in ticketMeals %}
									<li>{{ meal.meal.name }} [{{ meal.size }}]</li>

									<ul>
									{% for addTicketID, ticketMealAdditions in mealAdditions.items %}
										{% if addTicketID == ticket6.id %}
											{% for mealID, thisMealAdditions in ticketMealAdditions.items %}
												{% if mealID == meal.id %}
													{% for addition in thisMealAdditions %}
														<li>ADD {{ addition.add.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

									<ul>
									{% for subTicketID, ticketMealSubtractions in mealSubtractions.items %}
										{% if subTicketID == ticket6.id %}
											{% for mealID, thisMealSubtractions in ticketMealSubtractions.items %}
												{% if mealID == meal.id %}
													{% for subtraction in thisMealSubtractions %}
														<li>REMOVE {{ subtraction.sub.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

								{% endfor %}
							{% endif %}
						{% endfor %}

						{# DISPLAY SIDES #}
						{% for ticketID, ticketSides in sides.items %}
							{% if ticketID == ticket6.id %}
								{% for side in ticketSides %}
									<li>{{ side.side.name }}</li>

									<ul>
									{% for addTicketID, ticketSideAdditions in sideAdditions.items %}
										{% if addTicketID == ticket6.id %}
											{% for sideID, thisSideAdditions in ticketSideAdditions.items %}
												{% if sideID == side.id %}
													{% for addition in thisSideAdditions %}
														<li>ADD {{ addition.add.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

									<ul>
									{% for subTicketID, ticketSideSubtractions in sideSubtractions.items %}
										{% if subTicketID == ticket6.id %}
											{% for sideID, thisSideSubtractions in ticketSideSubtractions.items %}
												{% if sideID == side.id %}
													{% for subtraction in thisSideSubtractions %}
														<li>REMOVE {{ subtraction.sub.name }}</li>
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									</ul>

								{% endfor %}
							{% endif %}
						{% endfor %}
					</ul>

					<div class="bottom-right">
						<a class="btn btn-success text-right" href="{% url 'tickets:fulfill_ticket' ticket6.id %}">Complete Order</a>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="top-right">
			{% if is_manager == False %}
				<a class="btn btn-primary text-right" href="{% url 'login:logout' %}">Logout</a>
			{% else %}
				<a class="btn btn-primary text-right" href="{% url 'tickets:manager_view' %}">Return</a>
			{% endif %}
		</div>
	
	</body>