{% extends 'base.html' %}
{% block title %} Register User | Tiger Orders {% endblock %}

{% block style %}
.menu-controls {
  margin-top:10px;
  margin-right:15px;
  margin-left:15px;
}
.menu-controls {
  color: white;
}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Register User</li>
  </ol>
  <h1>Register User</h1>
  <p>This page allows you to create new user accounts that can access your POS system.</p>
</div>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Create An Account</div>
      <div class="card-body">
        <form action="{% url 'register:register_user' %}" method="POST">
          {% csrf_token %}
          {% if error %}<p class="text-danger">{{ error }}</p>{% endif %}
          {% if success %}<p class="text-success"><i class="fa fa-fw fa-check"></i> User successfully created!</p>{% endif %}
          <div class="form-group">
            <label for="UserName">User Name</label>
            <input class="form-control" id="UserName" name="UserName" type="text" aria-describedby="emailHelp" placeholder="Enter username" required>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="InputName">First name</label>
                <input class="form-control" id="InputName" name="InputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name" required>
              </div>
              <div class="col-md-6">
                <label for="InputLastName">Last name</label>
                <input class="form-control" id="InputLastName" name="InputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="InputEmail">Email address</label>
            <input class="form-control" id="InputEmail" name="InputEmail" type="email" aria-describedby="emailHelp" placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="InputPassword">Password</label>
                <input class="form-control" id="InputPassword" name="InputPassword" type="password" placeholder="Password" required>
              </div>
              <div class="col-md-6">
                <label for="ConfirmPassword">Confirm password</label>
                <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" type="password" placeholder="Confirm password" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input id="isManager" name="isManager" type="checkbox"> Manager
          </div>
          <!-- <a class="btn btn-primary btn-block" href="login.html">Register</a> -->
          <input class="btn btn-primary btn-block" type="submit" value="Register">
        </form>
        <div class="text-center">
          <!-- <a class="d-block small mt-3" href="login.html">Home</a> -->
          <!--<a class="d-block small" href="forgot-password.html">Forgot Password?</a>-->
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
{% endblock %}
{% block scripts %}
$(document).ready(function() {
  $('table.display').DataTable();
});
{% endblock %}
