{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Menu Items</li>
      </ol>
      <div class="row">
        <div class="col-12">
          <h1>Menu Items</h1>
          <p>This page shows the available menu items.</p>
          <div>
            <div id="Meal">
              <div class="card mb-3">
                <div class="card-header">Meal</div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Meal</th>
                          <th>Description</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for meal in allmenuitems %}
                          <tr>
                            <td> {{ meal.name }} </td>
                            <td> {{ meal.description }} </td>
                            <td> ${{ meal.price|floatformat:2 }} </td>
                          </tr>
                         {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer small text-muted">Updated at {% now "SHORT_DATETIME_FORMAT" %}</div>
              </div>
            </div>
          </div>
          <div id="Side">
            <div class="card mb-3">
              <div class="card-header">Side</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Side</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for side in allsideitems %}
                      <tr>
                        <td>{{ side.name }}</td>
                        <td>${{ side.price|floatformat:2 }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer small text-muted">Updated at {% now "SHORT_DATETIME_FORMAT" %}</div>
            </div>
          </div>
          <div id="Drink">
            <div class="card mb-3">
              <div class="card-header">Drinks</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Drink</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% for drink in alldrinkitems %}
                        <tr>
                          <td>{{ drink.name }}</td>
                          <td>${{ drink.price|floatformat:2 }}</td>
                        </tr>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer small text-muted">Updated at {% now "SHORT_DATETIME_FORMAT" %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
