{% extends 'base.html' %}
{% block title %} Menu | Tiger Orders {% endblock %}

{% block style %}
.menu-controls {
  margin-top:10px;
  margin-right:15px;
  margin-left:15px;
}
.menu-controls {
  color: white;
}
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Menu Items</li>
      </ol>
      <div class="row">
        <div class="col-12">
          <h1>Menu Items</h1>
          <p>This page shows the available menu items.</p>
          <div>
            <div id="Meal">
              <div class="card mb-3">
                <div class="card-header">Meals</div>
                <div class="card-body">
                  <form action="{% url 'menu:remove_menu_item' %}" method="POST">
                    {% csrf_token %}
                    <div class="table-responsive">
                      <table class="table table-bordered display" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Meal</th>
                            <th>Description</th>
                            <th>Side</th>
                            <th>Drink</th>
                            <th>Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for meal in allmenuitems %}
                            {% if meal.current_menu_item %}
                            <tr>
                              <td><input id="{{meal.id}}" name="{{meal.id}}" type="checkbox"/> {{ meal.name }} </td>
                              <td> {{ meal.description }} </td>
                              <td> {% if meal.side %} {{ meal.side.name }} {% else %} No Side {% endif %}</td>
                              {% if meal.has_drink %} <td class="table-success">Yes</td> {% else %} <td class="table-danger">No</td> {% endif %}
                              <td> ${{ meal.price|floatformat:2 }} </td>
                            </tr>
                            {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="menu-controls">
                      <a class="btn btn-success" data-toggle="modal" data-target="#addMeal">Add Meal</a>
                      <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove selected items?')" value="Remove Selected Items"/>
                    </div>
                  </div>
                </form>
                <div class="card-footer small text-muted">Updated at {% now "SHORT_DATETIME_FORMAT" %}</div>
              </div>
            </div>
          </div>
          <div id="Side">
            <div class="card mb-3">
              <div class="card-header">Sides</div>
              <div class="card-body">
                <form action="{% url 'menu:remove_side_item' %}" method="POST">
                  {% csrf_token %}
                  <div class="table-responsive">
                    <table class="table table-bordered display" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Side</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for side in allsideitems %}
                          {% if side.current_menu_item %}
                          <tr>
                            <td><input id="{{side.id}}" name="{{side.id}}" type="checkbox"/> {{ side.name }}</td>
                            <td>${{ side.price|floatformat:2 }}</td>
                          </tr>
                          {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="menu-controls">
                    <a class="btn btn-success" data-toggle="modal" data-target="#addSide">Add Side</a>
                    <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove selected items?')" value="Remove Selected Items"/>
                  </div>
                </form>
              </div>
              <div class="card-footer small text-muted">Updated at {% now "SHORT_DATETIME_FORMAT" %}</div>
            </div>
          </div>
          <div id="Drink">
            <div class="card mb-3">
              <div class="card-header">Drinks</div>
              <div class="card-body">
                <form action="{% url 'menu:remove_drink_item' %}" method="POST">
                  {% csrf_token %}
                  <div class="table-responsive">
                    <table class="table table-bordered display" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Drink</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for drink in alldrinkitems %}
                          {% if drink.current_menu_item %}
                          <tr>
                            <td><input id="{{drink.id}}" name="{{drink.id}}" type="checkbox"/> {{ drink.name }}</td>
                            <td>${{ drink.price|floatformat:2 }}</td>
                          </tr>
                          {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="menu-controls">
                    <a class="btn btn-success" data-toggle="modal" data-target="#addDrink">Add Drink</a>
                    <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove selected items?')" value="Remove Selected Items"/>
                  </div>
                </form>
              </div>
              <div class="card-footer small text-muted">Updated at {% now "SHORT_DATETIME_FORMAT" %}</div>
            </div>
            <div id="Additions">
            <div class="card mb-3">
              <div class="card-header">toppings</div>
              <div class="card-body">
                <form action="{% url 'menu:remove_topping_item' %}" method="POST">
                  {% csrf_token %}
                  <div class="table-responsive">
                    <table class="table table-bordered display" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>topping</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for topping in alltoppingitems %}
                          {% if topping.current_menu_item %}
                          <tr>
                            <td><input id="{{topping.id}}" name="{{topping.id}}" type="checkbox"/> {{ topping.name }}</td>
                            <td>${{ topping.price|floatformat:2 }}</td>
                          </tr>
                          {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="menu-controls">
                    <a class="btn btn-success" data-toggle="modal" data-target="#addTopping">Add Addition</a>
                    <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove selected items?')" value="Remove Selected Items"/>
                  </div>
                </form>
              </div>
              <div class="card-footer small text-muted">Updated at {% now "SHORT_DATETIME_FORMAT" %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block modals %}
<!-- Add Meal Modal-->
  <div class="modal fade" id="removeItem" tabindex="-1" role="dialog" aria-labelledby="removeItem" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="removeItemLabel">Remove Item</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Remove">
          </div>
        </form>
      </div>
    </div>
  </div>

    <!-- Add Meal Modal-->
    <div class="modal fade" id="addMeal" tabindex="-1" role="dialog" aria-labelledby="addMeal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addMealLabel">Add a Meal</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form method="post" action="{% url 'menu:create_meal' %}">
            {% csrf_token %}
            <div class="modal-body">
              <div class="form-group">
                <label for="mealName">Meal Name</label>
                <input class="form-control" id="mealName" name="mealName" type="text" aria-describedby="mealName" placeholder="Enter meal name" required>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" id="description" name="description" type="text" placeholder="Description" required>
              </div>
              <div class="form-group">
                <label for="mealSide">Side</label>
                <select class="form-control" id="mealSide" name="mealSide">
                  <option value="-1" selected>----</option>
                  {% for side in allsideitems %}
                    <option value="{{ side.id }}">{{ side.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <input id="mealHasDrink" type="checkbox" name="mealHasDrink"> Comes with drink.
              </div>
              <div class="form-group">
                <label for="price">Price</label>
                <input class="form-control" id="price" name="price" type="number" step="0.01" placeholder="Price" value="0" required>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <input class="btn btn-primary" type="submit" value="Add">
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Add Side Modal-->
    <div class="modal fade" id="addSide" tabindex="-1" role="dialog" aria-labelledby="addSide" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addSideLabel">Add a Side</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form method="post" action="{% url 'menu:create_side' %}">
            {% csrf_token %}
            <div class="modal-body">
              <div class="form-group">
                <label for="sideName">Side Name</label>
                <input class="form-control" id="sideName" name="sideName" type="text" aria-describedby="sideName" placeholder="Enter side name" required>
              </div>
              <div class="form-group">
                <label for="sidePrice">Price</label>
                <input class="form-control" id="sidePrice" name="sidePrice" type="number" step="0.01" placeholder="Price" value="0" required>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <input class="btn btn-primary" type="submit" value="Add">
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Add Drink Modal-->
    <div class="modal fade" id="addDrink" tabindex="-1" role="dialog" aria-labelledby="addDrink" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addDrinkLabel">Add a Drink</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form method="post" action="{% url 'menu:create_drink' %}">
            {% csrf_token %}
            <div class="modal-body">
              <div class="form-group">
                <label for="drinkName">Drink Name</label>
                <input class="form-control" id="drinkName" name="drinkName" type="text" aria-describedby="drinkName" placeholder="Enter drink name" required>
              </div>
              <div class="form-group">
                <label for="drinkPrice">Price</label>
                <input class="form-control" id="drinkPrice" name="drinkPrice" type="number" step="0.01" placeholder="Price" value = "0" required>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <input class="btn btn-primary" type="submit" value="Add">
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Add Topping Modal-->
    <div class="modal fade" id="addTopping" tabindex="-1" role="dialog" aria-labelledby="addTopping" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addToppingLabel">Add a Topping</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form method="post" action="{% url 'menu:create_topping' %}">
            {% csrf_token %}
            <div class="modal-body">
              <div class="form-group">
                <label for="toppingName">Topping Name</label>
                <input class="form-control" id="toppingName" name="toppingName" type="text" aria-describedby="toppingName" placeholder="Enter topping name" required>
              </div>
              <div class="form-group">
                <label for="toppingPrice">Price</label>
                <input class="form-control" id="toppingPrice" name="toppingPrice" type="number" step="0.01" placeholder="Price" value = "0" required>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <input class="btn btn-primary" type="submit" value="Add">
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
$(document).ready(function() {
  $('table.display').DataTable();
});
{% endblock %}
